html, body {
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    padding: 20px;
    background-color: darkseagreen; 
}

h1 {
    margin: 0;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

ul li a{ 
    color: #000;
    margin: 0px 0px 0px 20px;
    text-decoration: none;
    
}

.main{
    display: flex;
}

.content{
    width: 70%;
    background-color: lightgray;
    min-height: 500px;
}

.sidebar{
    width: 30%;
    background-color: dimgrey;
    color: white;
    min-height: 500px;
}

p{
    margin: 20px;
}